@model AssurBox.SDK.DTO.GreenCard.Car.GreenCardRequestSummary
@{
    ViewBag.Title = "Requests : " + Model.Total;
}

<a href="@Url.Action("Create")" class="btn btn-primary">Create</a>
<br />
<table class="table stripped">
    <thead>
        <tr>
            <th>Licence plate</th>
            <th>VIN</th>
            <th>CustomerName</th>
            <th>RequestDate</th>
            <th>HasResponse</th>
            <th>InsuranceName</th>
            <th>SenderOrganizationName</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var request in Model.Data)
        {
        <tr>
            <td>
                @request.LicencePlate
            </td>
            <td>
                @request.VIN
            </td>
            <td>
                @request.CustomerName
            </td>
            <td>
                @request.RequestDate
            </td>
            <td>
                @request.HasResponse
            </td>
            <td>
                @request.InsuranceName
            </td>
            <td>
                @request.SenderOrganizationName
            </td>
            <td>
                <a href="@Url.Action("DownloadSNCADoc",new { id = request.CorrelationId })">doc snca</a>
            </td>
            <td>
                @Html.ActionLink("Detail", "Details", new { id = request.CorrelationId }) |
                @Html.ActionLink("Edit", "Edit", new { id = request.CorrelationId }) |
                @Html.ActionLink("Delete", "Delete", new { id = request.CorrelationId })




            </td>

        </tr>
        }
    </tbody>
</table>
